<!DOCTYPE html>
<html>
  <head>
    <title>Sign In</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="static/style.css" rel="stylesheet" media="screen">
    <script src="static/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="main">
        <div class="row">
          <div class="col left">
            <h1>Welcome to</h1>
            <img src="static/images/JUNTOS_LOGO.png" width="200" height="200">
            <p>Powered by KPMG and Dell</p>
          </div>
          <div class="col right">
            <h1>Sign In</h2>
              <br>
              <h2>Employees:</h2>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Please select your company:
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">KPMG</a>
                  <a class="dropdown-item" href="#">Dell</a>
                  <a class="dropdown-item" href="#">Ebay</a>
                </div>
              </div>
              <h2>or</h2>
              <button class="btn btn-secondary" type="button"  aria-haspopup="true">
                Sign in with LinkedIn
              </button>
              <p>New to Juntos?<a href="/signup">Sign up</a></p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>